<nav class="navbar navbar-default jolie-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand jolie-brand" href="#">JOLIE</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav navbar-center">
                    <li class="links-center"><a href="#">Home</a></li>
                    <li class="links-center"><a href="#">About Us</a></li>
                    <li class="links-center"><a href="#">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                {{#if isAuthenticated}}
                    <li><a href="/logout/sign-out" class="page-scroll" data-toggle="modal">Logout</a></li>
                {{else}}
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {{/if}}
         {{!--        {{#if adminAuthenticated}}
                    <li><a href="/logout/sign-out" class="page-scroll" data-toggle="modal">Admin</a></li>
                {{/if}} --}}
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>