
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <section class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
            {{#each itemList}}
              {{#if selected}}
              <img src="{{img}}" alt="..." class="modalImg">
              {{/if}}
              {{/each}}
            </div> 
            <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="container">
              {{#each itemList}}
                <button type="button" class="btn modalBtn" style="background-color: {{color}}" data="{{img}}"></button>
                {{/each}}
            </div>
            </div>
          </section>
        </div>
    </div>
</div>

