{{>admin-nav}}

<!--list of pending employees-->
<div class="container" id="home-banner">


    <div class="jumbotron addItem " id="admin-add-item">
        <h1>Add A New Item</h1>
        <form action="/admin/post" method="post" enctype="multipart/form-data">
            <div class="form-group" id="name-form">
                <label for="name-input">Name</label>
                <input type="name-input" class="form-control" id="name-input" placeholder="Name" name="name">
                <small id="username-feedback"></small>
            </div>
            <div class="form-group" id="num-form">
                <label for="num-input">Item Number</label>
                <input type="num-input" class="form-control" id="num-input" placeholder="SKU" name="num">
                <small id="num-feedback"></small>

            </div>
            <div class="form-group">
                <label for="colors">Colors</label>
                <input type="colors" class="form-control" id="colors"  placeholder="Enter colors" name="color">
                <small id="colorsHelp" class="form-text text-muted">Seperate colors with a comma </small>
            </div>
            <div class="form-group">
                <label for="colorCode">Color-Codes</label>
                <input type="colorCode" class="form-control" id="colorCode"  placeholder="Enter color Code" name="colorCode">
                <small id="colorsHelp" class="form-text text-muted">Seperate colors with a comma </small>
                <br>
                <input type="checkbox" name="colorBox" value="1">      Check to set as Primary<br>

            </div>
            <div class="form-group" id="price-form">
                <label for="price-input">Price</label>
                <input type="price-input" class="form-control" id="price-input"  placeholder="Enter colors" name="price">
                <small id="price-feedback" class="form-text text-muted">Enter price with decimal ie 187.34</small>
            </div>
            <div class="form-group" id="description-form">
                <label for="description-input">Description</label>
                <textarea class="form-control" id="description-input" rows="3" name="description"></textarea>
                <small id="description-feedback"></small>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Image input</label>
                <input name='test' type="file" class="myfile" onchange="previewFile()"><br>
                <img src="" height="200" alt="Image preview...">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div> <!-- /container -->
