
    {{> nav }}
    {{> login-modal }}
    
    
    

    <section class="bg-img" id="hero-img"></section><!-- hero -->
    <div class="bg-img" id="logo"></div>

    <section class="container" id="about"><!-- about -->
      <div class="container" id="frame">
        <div id="about-wrapper">
            <div id="about-heading">
                <p id="about-title">About Us</p>
                <p id="about-subtitle">Title description, May 2, 2016</p>
            </div>
            <div>
                <p><strong>Jolie</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit nisl a egestas pharetra. Pellentesque a egestas quam. Quisque elementum urna odio, quis pharetra purus luctus non. Nam et ligula at eros maximus dictum ut eget libero. Integer consequat finibus dolor eget bibendum. Nulla tellus ligula, vehicula sed sagittis sit amet, vehicula ut magna. Duis malesuada tortor facilisis ligula rhoncus, id commodo sapien egestas. Aliquam aliquet elit dui, eget tempor tellus mollis eget. Vivamus varius malesuada pellentesque. Aenean sed pulvinar lorem, at maximus ex. Integer non elit leo.</p>
                <p>Curabitur vitae est tellus. Curabitur varius vestibulum lorem, vel sagittis nibh sodales at. Suspendisse ac nisl in mauris tristique maximus id fermentum est.</p>
            </div>
        </div>
    </section>

    <section id="sub-hero">
        <div class="bg-img" id="sub-hero-img"></div>
        <div class="bg-img" id="opacity"></div>
        <div id="seasonal">
            <p id="new-arrivals" class="text-center">New Arrivals!</p>
            <p id="new-season" class="text-center">S/S 2017<br>
            Collection</p>
        </div>
    </section><!-- hero-2 -->

    <section id="contact"><!-- contact -->
        <section id="section-contact">
            <div class="container">
                <!--  row heading end -->
                <div class="row">
                    {{!-- <div class="col-md-10 col-md-offset-1 wow">
                        <div class="col-sm-3 contact-item">
                            <span class="icon-screen-smartphone"></span>
                            <p>(000) 123 4511</p>
                        </div>
                        <div class="col-sm-6 contact-item">
                            <span class="icon-map"></span>
                            <p>245 Park Street, Brooklyn,USA</p>
                        </div>
                        <div class="col-sm-3 contact-item">
                            <span class="icon-envelope"></span>
                            <p>support@themeturn.com</p>
                        </div>
                    </div> --}}
                    <div class="col-md-8 col-md-offset-2 mt-40 wow">
                        <div class="contact-box">
                            <div class="contact-heading text-center">
                                <h3>Contact US</h3>
                                <p>Magni voluptates eaque ducimus nulla velit veritatis distinctio cupiditate, atque at ea aliquam.</p>
                            </div>
                            <form>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" id="name-field">
                                        <input class="form-control jolie-input" name="fname" id="form-name" placeholder="Your name" type="text"> </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" id="email-field">
                                        <input class="form-control jolie-input" name="femail" id="form-email" placeholder="Your email" type="email"> </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-text text-center" id="message-field">
                                        <textarea cols="30" rows="6" placeholder="Your message" class="form-control jolie-textarea" name="fmessage" id="form-message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button id="send-email" class="btn btn-default btn-block jolie-btns" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
    </section>
