
    {{> nav }}
    {{> login-modal }}
    
    <section class="banner">
        <p>Create an account with us to check out our latest lookbook!<a class="create-btn" href="/signup">Sign Up</a></p>

    </section>
    
    <section class="sect sectOne" id="hero-img"><!-- hero -->
    </section>

    <div id="logo"></div>




    <section class="subSection1 container"><!-- about -->
      <div class="container">
        <div class="title">
          <h3>About Us</h3>
          <h5>Title description, <span class="">May 2, 2016</span></h5>
        </div>

        <div>
          <div class="aboutimg">
          <img src="assets/images/img4.jpg">
          </div>
          <p><strong>Jolie</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit nisl a egestas pharetra. Pellentesque a egestas quam. Quisque elementum urna odio, quis pharetra purus luctus non. Nam et ligula at eros maximus dictum ut eget libero. Integer consequat finibus dolor eget bibendum. Nulla tellus ligula, vehicula sed sagittis sit amet, vehicula ut magna. Duis malesuada tortor facilisis ligula rhoncus, id commodo sapien egestas. Aliquam aliquet elit dui, eget tempor tellus mollis eget. Vivamus varius malesuada pellentesque. Aenean sed pulvinar lorem, at maximus ex. Integer non elit leo.</p>
          <p>Curabitur vitae est tellus. Curabitur varius vestibulum lorem, vel sagittis nibh sodales at. Suspendisse ac nisl in mauris tristique maximus id fermentum est.</p>
        </div>
      </div>
    </section>

    <section class="sect sectTwo"></section><!-- hero-2 -->

    <section class="subSection2"><!-- contact -->
        <section id="section-contact">
            <div class="container">
                <!--  row heading end -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-sm-3 contact-item">
                            <span class="icon-screen-smartphone"></span>
                            <p>(000) 123 4511</p>
                        </div>
                        <div class="col-sm-6 contact-item">
                            <span class="icon-map"></span>
                            <p>245 Park Street, Brooklyn,USA</p>
                        </div>
                        <div class="col-sm-3 contact-item">
                            <span class="icon-envelope"></span>
                            <p>support@themeturn.com</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 mt-40 wow fadeInRight">
                        <div class="contact-box">
                            <div class="contact-heading text-center">
                                <h3>Contact US</h3>
                                <p>Magni voluptates eaque ducimus nulla velit veritatis distinctio cupiditate, atque at ea aliquam.</p>
                            </div>
                            <form action="process.php" id="contact-form" role="form" method="post">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" id="name-field">
                                        <input class="form-control contact-form-field cffield-upper" name="fname" id="form-name" placeholder="Your name" type="text" required> </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" id="email-field">
                                        <input class="form-control contact-form-field cffield-upper" name="femail" id="form-email" placeholder="Your email" type="email" required> </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-text text-center" id="message-field">
                                        <textarea cols="30" rows="6" placeholder="Your message" class="form-control contact-form-field" name="fmessage" id="form-message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary feature " type="submit">Send data</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
    </section>
