 {{> nav }}
<div class="container productContent">
    <section class="container-fluid">
        <div class="contaier-fuild">
            <div class="row">
                <div id="slide" class="carousel slide slideShow" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slide" data-slide-to="0" class="active"></li>
                        <li data-target="#slide" data-slide-to="1"></li>
                        <li data-target="#slide" data-slide-to="2"></li>
                        <li data-target="#slide" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/assets/images/img1.jpg" alt="img1">
                        </div>
                        <div class="item">
                            <img src="/assets/images/img2.jpg" alt="img1">
                        </div>
                        <div class="item">
                            <img src="/assets/images/img3.jpg" alt="img1">
                        </div>
                        <div class="item">
                            <img src="/assets/images/img4.jpg" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid productHeader">
        <h3>New Arrivals</h3>
    </div>
    <section class="container-fluid">
        <div class="row">
            {{#each products}} {{#if this.selected}}
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="#" data-toggle="modal" id="{{this.itemNum}}" class="modalSelected">
                        <img src="{{this.img}}" alt="...">
                    </a>
                    <div class="thumbnail-product">
                        <h5 href="#">{{this.itemNum}}</h5>
                        <a href="#">{{this.itemName}}</a>
                    </div>
                </div>
            </div>
            {{/if}} {{/each}}
        </div>
    </section>
</div>
<div class="modal fade" id="product-modal" role="dialog">
    
</div>




