{{> nav }}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign Up Form</h2>
            <form class="signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">First name</label>
                    <input type="First Name" class="form-control" id="firstName-input" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Last name</label>
                    <input type="Last Name" class="form-control" id="lastName-input" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Company Name</label>
                    <input type="Company Name" class="form-control" id="companyName-input" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Tax ID</label>
                    <input type="TaxId" class="form-control" id="taxId-input" placeholder="Tax ID (not required)">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">Address</label>
                    <input type="address" class="form-control" id="address-input" placeholder="Address">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">Suite #</label>
                    <input type="suite" class="form-control" id="suite-input" placeholder="Suite #">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">City</label>
                    <input type="city" class="form-control" id="city-input" placeholder="City">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">State</label>
                    <input type="state" class="form-control" id="state-input" placeholder="State">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">Zip</label>
                    <input type="zip" class="form-control" id="zip-input" placeholder="zip">
                </div>

                <div class="form-group">
                    <label for="exampleInputAddress1">Country</label>
                    <input type="country" class="form-control" id="country-input" placeholder="Country">
                </div>

                <div class="form-group">
                    <label for="exampleInputPhone1">phone#</label>
                    <input type="phone#" class="form-control" id="phone-input" placeholder="Phone Number">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
            <br/>
            <p>Or log in <a href="/login">here</a></p>
        </div>
    </div>
</div>