/*font-family: 'Raleway', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Playfair Display', serif; */

* {
	margin:0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
}

.bg-img {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* -----------------------nav-----------------------*/
.jolie-navbar {	
    border-radius: 0px;
    z-index: 10;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 0px;
    background-color: white;
    border: none;
    box-shadow: 0 0 30px rgba(32,14,17,.10);
}
.jolie-brand {
	font-family: 'Playfair Display', serif;
	color: black !important;
	font-size: x-large;
}
.navbar .navbar-center {
    display: inline-block;
    float: none;
}
.links-center a {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: black !important;
}
.links-right a {
	font-family: 'PT Sans', sans-serif;
	color: black !important;

}
.navbar .navbar-collapse {
    text-align: center;
}

/* -----------------------banner sec-----------------------*/
.banner {
	background-color: black;
	text-align: center;
	padding: 40px 0 30px 0;
	z-index: 99;
}
.banner p {
	color: white;
}
.create-btn {
	position: relative;
	z-index: 5;
	border: 2px solid lightcoral;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: lightcoral;
	padding: 10px 15px;
	margin-left: 30px;
}

/* -----------------------hero sec-----------------------*/
#logo {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 100px;
	z-index: 1;
	background-image: url("../images/jolie-logo-mai-white.png");
	background-size: contain;
}
#hero-img {
	position: relative;
	z-index: 0;
	height: 100%;
	background-image: url("../images/hero-1.jpg");	
}

/* -----------------------about-----------------------*/
#about {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color:white;
	padding-bottom: 100px;
}
#frame {
	margin-top: -15vh;
	background-color: white;
    box-shadow: 0 0 30px rgba(32,14,17,.10);
}
#about-wrapper {
	width: 80%;
	display: block;
	margin: 120px auto 80px auto;
	padding: 40px 80px 80px 80px;
	border: 3px solid black;
}
#about-heading {
	text-align: center;
	margin-top: -124px;
	position: relative;
	width: 70%;
	left: 15%;
	background-color: white;
	padding-bottom: 30px;
}
#about-title {
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	text-transform: uppercase;
}
#about-subtitle {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
}

/* -----------------------sub-hero-----------------------*/
#sub-hero{
	background: green;
	/*opacity: 0.5;*/
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top, red, purple);*/
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, red, purple);*/
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, red, purple);*/
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, red, purple);*/
    /* Standard syntax */
    /*font-family: 'PT Sans', sans-serif;*/
    color: white;
    position: relative;
	z-index: 1;
	height: 80%;
}
#sub-hero-img {
	width: 100%;
	background-image: url("../images/hero-2.jpg");	
}
#opacity {
	position: absolute;
	top: 0px;
	z-index: 2;
	width: 100%;
	background-color: black;
	opacity: 1;
	transition: opacity 4s;
	-webkit-transition: opacity 4s;
}
#seasonal {
	position: relative;
	float: right;
	top: -60vh;
	width: 60%;
	height: 50vh;
	z-index: 3;
	border: 3px solid white;
}
#new-season {
	/*font-family: 'Playfair Display', serif;*/
	font-size: 60px;
	font-style: italic;
	text-transform: uppercase;
}
#new-arrivals {
	font-family: 'PT Sans', sans-serif;
	font-size: 60px;
}


/* -----------------------misc-----------------------*/

/*.subSection2 {
	height: 40%;
	background-color:white;
}*/
/*.sectTwo {
	position: relative;
	z-index: 1;
	height: 80%;
}*/

#contact {
	background: lightcoral;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(top left, lightcoral, #830808);
    background: -o-linear-gradient(top left, lightcoral, #830808);
    background: linear-gradient(to bottom right, lightcoral, #830808);
    /* Standard syntax */
    font-family: 'PT Sans', sans-serif;
    color: white;
    position: relative;
	z-index: 1;
	height: 80%;
}
.slideShow {
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.modalImg{ 
	width: 300px;
	margin-bottom:10px;
 }
.thumbnail-product {
	min-height: 86px;
}
.mainContent {
	background-color: #e0e2e5;
}
.productContent {
	background-color: white;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.productHeader {
	text-align: center;
}

