/*font-family: 'Raleway', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Playfair Display', serif; */

* {
	margin:0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
}

.bg-img {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.jolie-btns {
	position: relative;
	z-index: 5;
	color: black;
	border: 2px solid black;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	padding: 10px 15px;
	background-color: transparent;
    border-radius: 0;
}

.jolie-textarea {
	color: #999;
    background-color: #F9F9F9;
    border-radius: 0;
    border: 1px solid #999;
}

/* -----------------------nav-----------------------*/
.jolie-navbar {	
    border-radius: 0px;
    z-index: 10;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 0px;
    background-color: white;
    border: none;
    box-shadow: 0 0 30px rgba(32,14,17,.10);
}
.jolie-brand {
	font-family: 'Playfair Display', serif;
	color: black !important;
	font-size: x-large;
}
.navbar .navbar-center {
    display: inline-block;
    float: none;
}
.links-center a {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: black !important;
}
.links-right a {
	font-family: 'PT Sans', sans-serif;
	color: black !important;
}
.navbar .navbar-collapse {
    text-align: center;
}

/* -----------------------banner sec-----------------------*/
.banner {
	background-color: black;
	text-align: center;
	padding: 40px 0 30px 0;
	z-index: 99;
}
.banner p {
	color: white;
}
.create-btn {
	color: lightcoral;
	border: 2px solid lightcoral;
	margin-left: 30px;
	transition: color 0.1s;
	transition: border 0.1s;
}

.create-btn:hover, .create-btn:active {
	color: white;
	border: 2px solid white;
	text-decoration: none;
}


/* -----------------------hero sec-----------------------*/
#logo {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 100px;
	z-index: 1;
	background-image: url("../images/jolie-logo-mai-white.png");
	background-size: contain;
}
#hero-img {
	position: relative;
	z-index: 0;
	height: 100%;
	background-image: url("../images/hero-1.jpg");	
}

/* -----------------------about-----------------------*/
#about {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color:white;
	padding-bottom: 100px;
}
#frame {
	margin-top: -15vh;
	background-color: white;
    box-shadow: 0 0 30px rgba(32,14,17,.10);
}
#about-wrapper {
	width: 80%;
	display: block;
	margin: 120px auto 80px auto;
	padding: 40px 80px 80px 80px;
	border: 3px solid black;
}
#about-heading {
	text-align: center;
	margin-top: -124px;
	position: relative;
	width: 70%;
	left: 15%;
	background-color: white;
	padding-bottom: 30px;
}
#about-title {
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	text-transform: uppercase;
}
#about-subtitle {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
}

/* -----------------------sub-hero-----------------------*/
#sub-hero{
    color: white;
    position: relative;
	z-index: 1;
	height: 80%;
}
#sub-hero-img {
	width: 100%;
	background-image: url("../images/hero-2.jpg");	
}
#opacity {
	position: absolute;
	top: 0px;
	z-index: 2;
	width: 100%;
	background-color: black;
	opacity: 1;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
}
#seasonal {
	position: relative;
	float: right;
	top: -65vh;
	margin-right: 7%;
	width: 50%;
	height: 50vh;
	z-index: 3;
	border: 3px solid white;
}
#new-season {
	/*font-family: 'Playfair Display', serif;*/
	font-size: 60px;
	font-style: italic;
	text-transform: uppercase;
}
#new-arrivals {
	font-family: 'PT Sans', sans-serif;
	font-size: 60px;
}

/* -----------------------login-----------------------*/
#login-btn {
	background-color: black;
	color: white;
	border: 5px solid black;
}
.loginModal {
	width: 400px;
}

.jolie-modal {
    border-radius: 0;
	border: none;
	padding: 30px;
}
.modal-header .close {
    margin-top: -30px;
}

.jolie-modal img {
	height: 160px;
	margin-left: auto;
	margin-right: auto;
}
.login {
	margin: 16px 0;
}

.jolie-input {
	color: #999;
    background-color: #F9F9F9;
    border-radius: 0;
    border: 1px solid #999;
    height: 44px;
}


/* -----------------------misc-----------------------*/

/*.subSection2 {
	height: 40%;
	background-color:white;
}*/
/*.sectTwo {
	position: relative;
	z-index: 1;
	height: 80%;
}*/

#contact {
	background: lightcoral;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(top left, lightcoral, #830808);
    background: -o-linear-gradient(top left, lightcoral, #830808);
    background: linear-gradient(to bottom right, lightcoral, #830808);
    /* Standard syntax */
    font-family: 'PT Sans', sans-serif;
    color: white;
    position: relative;
	z-index: 1;
	height: 100%;
}

/*#name-field, #email-field, #message-field {
	margin: 5px 0;
}*/

#send-email {
	color: white;
	border: 2px solid white;
	/*background-color: white;*/
}
#color {
	width: 100px;
	height: 50px;
}
.slideShow {
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.modalImg{ 
	width: 300px;
	margin-bottom:10px;
 }
.thumbnail-product {
	min-height: 86px;
}
.mainContent {
	background-color: #e0e2e5;
}
.productContent {
	background-color: white;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.productHeader {
	text-align: center;
}
.modalBtn {
	 border: 1px solid #a4a9b2;
}

.shoppingbasket {
  width:40px;
  height:40px;
  position:relative;
  font-family: 'Comfortaa', cursive;
}
.basketitems {
  color:#fff;
  font-size:80%;
  background-color:#e74c3c;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-90%);
  -moz-transform:translate(-50%,-90%);
  transform:translate(-50%,-90%);
  padding:0 12%;
  border-radius:1000px;
}
.wow {
	bottom:300px;
}